
.accordion-button:not(.collapsed){
background-color: #dbdfe2;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-link{
  display: block;
  width: 100%;
  text-decoration: none;
  transition: 0.15s;
}
.accordion-link:hover{
  background-color: #dee1e4;
  transition: 0.15s;
}

.menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #e9ecef;
}

.menu-link:hover{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #dee1e4;
}

.menu-wrapper{
  max-width: 18rem;
}

.open-menu-btn{
  font-size: 2.3rem;
}

.dropdown-option:hover{
  background-color: #f7f7f7;
}

.brand-letter{
  color: #4bb4f1;
}