
.accordion-button:not(.collapsed){
background-color: #dbdfe2 !important;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-link{
  display: block;
  width: 100%;
  text-decoration: none;
  transition: 0.15s;
}
.accordion-link:hover{
  background-color: #e9ecef !important;
  transition: 0.15s;
}